<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <!-- Botón del menú para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación colapsable -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- Logo de la marca -->
      <a class="navbar-brand text-white" href="#" routerLink="/inscribir">Inscribir</a>

      <!-- Elementos del menú -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Listar</a>
        </li>
      </ul>

      <!-- Formulario de búsqueda -->
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
