.button-prop{
  width: 200px;
}

.container-props {
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 12px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  backdrop-filter: blur(10px); /* Efecto de desenfoque detrás */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde semitransparente */
}
