

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.container-properties{
  background-color: rgba(255, 255, 255, 0.896)!important;
  border-radius: 12px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.64);

}

/* Para dispositivos pequeños (como celulares) */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column !important;  /* El menú será vertical */
    align-items: flex-start;
  }
  .btn-primary{
    width: 100px;
    margin-bottom: 2px;
  }

}
.contenedor{
  overflow-x: auto;
}


@media (orientation: landscape) {
  .navbar-nav {
    flex-direction: column !important;  /* El menú será vertical */
    align-items: flex-start;
    width: 100px;
    margin-top: 2px;

  }
  .btn-primary{
    width: 100px;
    margin-left: 2px;
  }
}

.transparent-padding {
  background-color: rgba(255, 255, 255, 0.093);  /* Fondo normal */
  padding: 10px; /* El espacio alrededor del contenido */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño de la div */
}

.transparent-padding > * {
  background-color: transparent; /* Esto hace que el fondo dentro del padding sea transparente */
}


full-calendar {
  max-width: 900px;
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 12px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.fc-list-item {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.fc-list-item:hover {
  background-color: #e0e0e0;
}
